body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/tiktok-logo.jpg");
  background-repeat: repeat;
  background-size: 220px auto;
}

main{
  background-color:#000;
  width:80%;
  padding:25px;
  margin: 0 auto;
}

h1{
  color:#fff;
  text-align:center;
  font-size:70px;
  margin: 0 0 30px 0;
}

h2{
  color:#fff;
  margin-top: 25px;
}

p{
  color:#fff;
  line-height:1.5;
}

#elso_bekezdes{
  font-size:28px;
}

.zarojelek{
  font-style: italic;
}

.piros{
  color:#ff0050;
}

#tiktok_keret{
  border-style: solid;
  border-width:10px;
  border-left-color:#00f2ea;
  border-top-color:#00f2ea;
  border-right-color:#ff0050;
  border-bottom-color:#ff0050;
  padding:5px;
  display:inline-block;
}

#app{
  margin:30px auto;
  display:block;
}

/* csatorna leiras osztaly formazas */
.csatorna_leiras{
  color:#000;
  font-size:18px;
  font-style:italic;
  margin-top:25px;
}

/* Linkek formázása */
a:link, a:visited{
  color:#00f2ea;
}
a:hover, a:active{
  color:#ff0050;
}
